<!DOCTYPE html>
{% load staticfiles %}
<html lang="kr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Small Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

  

</head>

<body>
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-muted" href="#">8T</a>
        </div>
        <div class="col-4 text-center">
            <a href="{% url 'home' %}"><img src="{% static 'lion.png' %}" style="width:50px;height: 50px;"></a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            </a>
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Page
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item btn btn-sm btn-outline-secondary" href="{% url 'basket' %}">shopping basket</a>
                  <a class="dropdown-item" href="{% url 'login' %}">Log out</a>
          </div>
      </div>
      
    </header>


    <div class="nav-scroller py-3 mb-1">
      <nav class="nav d-flex justify-content-center">
    <a class="p-2 text-muted" href="{% url 'pageone' %}">MAN</a>
    <a class="p-2 text-muted" href="{% url 'pagetwo' %}">WOMAN</a>
    <a class="p-2 text-muted" href="{% url 'pagethree' %}">BAGS</a>
    <a class="p-2 text-muted" href="{% url 'pagefour' %}">ACC</a>
    <a class="p-2 text-muted" href="{% url 'pagefive' %}">SALE</a>
    <div class="dropdown">
            <button style="border: none;" class="p-2 text-muted btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             SUBCULTURE
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item btn btn-sm btn-outline-secondary p-2 text-muted" href="https://likelion.net/">OFFICAL</a>
                  <a class="p-2 text-muted dropdown-item" href="https://www.instagram.com/likelion.official/">INSTAGRAM</a>
          </div>
      </nav>
    </div>
    <hr></hr>
  
  

 

    <!-- Content Row  row start-->
    
  
        <!-- Content Row second -->
        <div class="row">
            <div class="col-md-4 mb-5">
              <div class="card h-100" style="border: none;">
                <div class="card-body">
                  <p class="card-text"><a href="{% url 'pageonedetail' %}"><img src="" alt="#" width="100%" height="210" ></p>
                  <h2 class="card-title" style="text-align: center; color:black; background-color: transparent; text-decoration:none; " ><a href="Page1_detail.html" target="_blank">머그컵</a></h2>
                  <p style="font-size: 12px; text-align: center;">19,900원</p>

                </div>
              </div>
            </div>
        <!-- /.col-md-4 second -->
        <div class="col-md-4 mb-5">
            <div class="card h-100" style="border: none;">
              <div class="card-body">
                  <p class="card-text"><a href="http://www.naver.com"><img src="예시임.jpg" alt="#" width="100%" height="210" ></p>
                    <h2 class="card-title" style="text-align: center;" ><a href="">Card One</a></h2>
                <h3 style="font-size: 0.5cm;">이거에 대한 설명임</h3>
              </div>
            </div>
          </div>
        <!-- /.col-md-4 second last -->
        <div class="col-md-4 mb-5">
            <div class="card h-100" style="border: none;">
              <div class="card-body">
                  <p class="card-text"><a href="http://www.naver.com"><img src="예시임.jpg" alt="#" width="100%" height="210" ></p>
                    <h2 class="card-title" style="text-align: center;" ><a href="">Card One</a></h2>
                <h3 style="font-size: 0.5cm;">이거에 대한 설명임</h3>
              </div>
            </div>
          </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

 <!-- Footer -->
 <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-left text-white" style="font-size: 30px;" >8T Shop</p>
      <p class="m-0 text-left text-white" style="font-size: 10px;" >만든이들 : ~~~~</p>
      <p class="m-0 text-left text-white" style="font-size: 5px;" >문의사항: 여고리ㅗ</p>
      <p class="m-0 text-right text-white" style="font-size: 3px;" >만든이들</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
